<section class="hero is-light is-fullheight splash-page">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4-desktop is-offset-4-desktop">
        <div class='box'>
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <hr />
          <form>
            <div class="field">
              <div class="control">
                <label for="inputUsername">Username
                  <input type="text" id="loginUsername" class="input is-large" placeholder="your email or username"/>
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="inputPassword">Password
                  <input type="password" id="loginPassword" class="input is-large" placeholder="your password"/>
                </label>
              </div>
            </div>
            <div class='field'>
              <label class='checkbox'>
                <input type="checkbox" id="rememberCheckbox"/>
                Remember me
              </label>
            </div>
            <a class='button is-block is-info is-large' id='loginButton'>Login</a>
          </form>
          <hr />
          <p class="has-text-grey">
            <a href='../register'>Sign Up</a>&nbsp; . &nbsp;
            <!--<a href='../createteam'>Create a Team</a>-->
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
