<section class="section" id="logRunPage">
    <div class="container">

      <div class="banner">

        <div class="space" id="myTitle">
          RunLog
        </div>

      </div>

      <p class="subtitle golder">
        <!-- {{{ subtitle }}} -->
        Tell me about your run.
      </p>

    </div>
  </section>


<!-- form -->

  <section class="section myForm">
    <div class="container">

      <div class="field">
        <div class="control">
          <label class=" golder">
            How far did you run?
              <input class="input" type="text" placeholder="Total Distance" id='logDistance'>
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>

          </label>

        </div>
      </div>

      <div class="field">
        <label class="label golder">How long did it take you?</label>
        <div class="control">
          <input class="input" type="text" placeholder="Time" id='logTime'>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="myColumn">

            <label class="label golder">How are you feeling?</label>

            <a class="button is-danger feeling-button" data-feeling="danger">Danger</a>
            <a class="button is-warning feeling-button" data-feeling="warning">Felt bad</a>
            <a class="button is-success feeling-button" data-feeling="success">Felt OK/Off</a>
            <a class="button is-info feeling-button" data-feeling="info">Felt Good</a>
            <a class="button is-link feeling-button" data-feeling="link">Felt Great</a>

            <br>

            <br>

            <textarea class="textarea" placeholder="Are you injured? Is there anything else I should know?" id='injury'></textarea>

          </div>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" id="submitRun">Submit</button>
        </div>
        <div class="control">
          <button class="button is-light" id="cancelLogin">Cancel</a>
        </div>
      </div>
    </div>
  </section>
